{% extends "bootstrap/base.html" %}
{% block title %}{% block page_title %}{% endblock %} -Secure Data Gateway (v0.1){% endblock %}

{% block body -%}
	<div class="container">
		{% block navbar %}
    {%- endblock navbar %}
    {% block content -%}
    {%- endblock content %}

    {% block scripts %}
    <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
    {%- endblock scripts %}
	</div>
{% endblock %}